@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto+Flex, Arial;
}

body{
    font-family: Roboto+Flex, Arial;
    background-color: #ffffff;
    color: #333;
}
 /* layouts */
.container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 300px 1fr;
  background: white;
  overflow: hidden;
}
/* Sidebar */
.sidebar {
  background-color: #D4D1BB;
  color: white;
  padding: 30px;
}
.firstName{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #554C69;
    margin-bottom: -.75rem;
}
.lastName{
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #B8662E;
    display: grid;
    place-items: center;
}
.sidebar h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.sidebar h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  color: #9ca3af;
}

.sidebar section {
  margin-bottom: 30px;
}

.sidebar h3 {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #92B0AC;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 8px;
  font-size: 14px;
}

@media(max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .sidebar {
    text-align: center;
  }
}

.main_body{
  background-color: paleturquoise;
}
.masterhead{
  color: white;
  background-image: url(/imgs/paperback.jpg);
  padding:50px;
}
.masterhead h1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px 2px #333;

}

.masterhead h2{
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  text-shadow: 2px 2px 2px #333;

}
